body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}

a {
  color: rgb(2, 88, 99);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #e3e3e3;
}

p {
  margin-top: .5em;
  margin-bottom: .5em
}

#navbar {
  display: flex;
  flex: 0 0 100%;
  align-items: flex-end;
  margin-bottom: 15px;
  position: fixed;
  background-color: white;
  width: 100%;
  padding-bottom: .5rem;
}

.nav-header {
  font-size: xx-large;
  cursor: default;
  margin-left: 2rem;
  font-weight: bold;
}

.link {
  margin-bottom: 5px;
  margin-left: 1rem;
}

.link:hover {
  cursor: pointer;
  color: #e3e3e3;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  animation: fadein 3s;
}

.projects-header {
  font-size: x-large;
  margin-bottom: .5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.project-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.project-image {
  width: 450px;
}

.desc-container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
}

.project-name {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.project-description {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  animation: fadein 3s;
  margin-top: 3rem;
}

.about-container {
  display: flex;
}

.about-header {
  display: flex;
  font-size: x-large;
  margin-bottom: .5rem;
  font-weight: bold;
}

.about-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.dev-img {
  height: 450px;
}

#footer {
  display: flex;
  flex: 0 0 100%;
  align-items: flex-end;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-title {
  font-size: x-large;
  cursor: default;
  margin-left: 1rem;
  font-weight: bold;
}
